{% extends "::base.html.twig" %}

{% block title %}AppBundle:Tasca:update{% endblock %}

{% block body %}
<h1>Editar tasca</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    {% for flashMessage in app.session.flashbag.get('error') %}

        <span>
            {{ flashMessage }}
        </span>

    {% endfor %}
{% endblock %}
